/.idea/
/config/master.key
/config/credentials.yml.enc
/tmp/cache/
/yarn.lock
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/log/*.log
/tmp/development_secret.txt